

{% block title %}

{% endblock title %}
    
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
<div class="form-container">
    <h1>Papelería Sandy</h1>
    <h3>¡Bienvenid@!</h3>
    {% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
    {% endfor %}
    <form method="post">
        {{ form.csrf_token }}
        <div class="input-div">
            <div class="div">
                {{ form.nom_usuario.label }}
                <br>
                {{ form.nom_usuario(class="input") }}
                {% if form.nom_usuario.errors %}
                    {% for error in form.nom_usuario.errors %}
                    <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="i">
                <i class="fas fa-user"></i>
            </div>
        </div>
        <div class="input-div">
            <div class="div">
                {{ form.contrasenia.label }}
                <br>
                {{ form.contrasenia(class="input") }}
                {% if form.contrasenia.errors %}
                    {% for error in form.contrasenia.errors %}
                    <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="i"> 
                <i class="fas fa-lock"></i>
            </div>
        </div>
        <div class="mb-3">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
