{% extends 'base.html' %}

{% block title %}
    Agregar Categoria
{% endblock %}

{% block content %}
<nav class="titulo"> Añadir categorias </nav>

    <form method="Post" class="pdiv">
        {{ form.csrf_token }}
        <div class="func func-cat">
            {{ form.nombre.label( class="txtlab") }}
            {{ form.nombre(placeholder="Nombre", class="margin") }}
            {% if form.nombre.errors %}
                {% for error in form.nombre.errors %}
                    <p>{{ error }}</p>
                {% endfor %} 
            {% endif %}
        </div>

        <div>
            {{ form.submit(class="bpr bpr-ac") }}
        </div>
    </form>
</form>
<a href="{{ url_for('cat.catp') }}" class="btn btn-warning"> Regresar</a>
{% endblock content %}