{%extends 'base.html'%}


{% block title %}
productos
{% endblock %}

{% block content %}

<nav class="titulo"> <h1>Administrador productos</h1></nav>
<a href="{{ url_for('product.c_produ') }}" >
    <input type="button" value="Añadir productos" class="bpr bpr-ac">

</a>
<nav class="a-table">

    <table id="d-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre producto</th>
            <th>precio</th>
            <th>Descripcion</th>
            <th>Marca</th>
            <th>Categoria</th>
            <th>acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>idflaso</td>
            <td>nomfalso</td>
            <td>prefalso</td>
            <td>descfalso</td>
            <td>marca falso</td>
            <td>catfalso</td>
            <td>
                <a href="http://">Editar</a>
                <a href="http://">Eliminar</a>

            </td>
        </tr>

    </tbody>
  </table>  


</nav>
</header>

{% endblock %}
