@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Quicksand:wght@300;500;700&display=swap");

:root{
    /*Declaracion de variables CSS*/
    --very-light-pink: #f5f5f5;
    --white: #seagreen;
    --text-input-field: #f7f7f7;
    --black: #000000;
    --hospital-green: #ACD9B2;
    --dark: #232830;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --xlg:30px;
    --xxlg:60px;
    --tlg:20px;
}

body{
font-family: 'Outfit', sans-serif;
font-family: 'Quicksand', sans-serif;
margin: auto;
justify-content: center;
padding: 0;
width: 90%;

}
.t{
    font-size: var(--xlg);
}
.g{
    text-align: center;
    font-size: var(--xxlg);
}
.txtlab{
    font-size:var(--tlg) ;
    font-weight: bold;
}
.fond
{
 background-position: center;
 background-size: cover;
    justify-content: center;
    margin-top: 10px;
    padding:5px ;
    min-height: 550px;
    background-color: var(--very-light-pink);
    margin-bottom: 20px;
    flex-direction: column;
    padding-bottom: 70px;
    border-radius: 6px;
    box-shadow: 0px 0px 7px 7px #e5e5e5; 

}
.ins{
    width: 160px;
    height: 100px;
    text-align: center;
    border-radius: 10px;
    background-color: #ec7b7b;
    text-decoration: none;
    color: white;
}
.ins:hover{
    color:#625371;
}
.fond-c
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5px ;
    height: 700px;
    background-color: var(--very-light-pink);
    margin-bottom: 20px;
    flex-direction: column;
    font-size: var(--xlg);
    padding: 50px;

    
}
.banner{
  margin-top: 10px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.grid{
    text-align:justify;
    display: grid;
   align-items: center;
   align-content: center;
width: 100%;
margin: 0 auto;
background-color: #76b0a4;
border-radius:10px ;
height:60px ;

grid-template-columns: .3fr 1.4fr .3fr;
}
.item:first-child{
    grid-column-start: 1;
}

.item~ nav{
    grid-column-start: 2;
}

.item:nth-child(2){
    grid-column-start: 3;
}
.buscadores{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 58px;
}


.button-search{
    background-color: rgb(232, 205, 131);
    color: rgb(238, 238, 238);
    border-radius: 7px;
    cursor: pointer;
    height: 45px;
    width: 15%;
    font-size: var(--md);
    border:none
}

.search{
border-radius: 10px;
width: 80%;
height: 40px;
font-size: var(--lg);
}
.titulo{
text-align: center;
font-size: var(--xlg);
margin-top: 40px;
margin-bottom: 40px;
}
.color{
background-color: #58f06d;
border: 1px solid black ;

}
#container{
    background-position: center;
    background-size: cover;
    
    justify-content: center;
display: flex;
grid-template-columns: 1fr 1fr 1fr 1fr;

}
#container1{
    display: flex;
    align-items: center;
    justify-content: center;
grid-template-columns:1fr 1fr;
}

.options{
   
    font-size: 18px;
border: 3px solid black;
border-radius: 17px;
margin: 20px; 
height: 300px;
width: 275px;
text-align: center;
text-decoration: none;
box-sizing: border-box;

}
.img-men{
    
    align-self: center;
    overflow: hidden;
    border-radius: 17px;
    align-self: center;
    width: 200px;
    height:86%;
    box-shadow: 0px 5px 19px 6px #8a8a8a;
}
.text{
    text-align: center;
    overflow: hidden;
    height: 10%;
    text-decoration: none;
    color: #fff;
margin: auto;
border-radius: 14px 14px 0px 0px ;
margin-top: 0px;
margin-bottom: 3px;

}
.a{
    background-color: #403a92;
}
.b{
    background-color: #e1c66f;
}
.c {
    background-color: #c94fb6;
}
.d{
    background-color: #9886e5;  
}
.e{
 background-color: #a7daa5;
}
.f{
    background-color: #d55c5c;
}



#sale {
    width: 100%;
    border-collapse: collapse;
    border-top: 17px;
    margin-bottom: 19px;
    
}


#sale th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #eacd8a;
    

}
#sale td, #sale th {
    border: 1px solid #ddd;
    padding: 8px;

}

#sale tr:nth-child(even){background-color: #efefef;}

  #sale tr:hover {background-color: #ddd;}
  .login{
      margin-bottom: 18px;
}

#user {
    width: 100%;
    border-collapse: collapse;
    border-top: 17px;
    
}


#user th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #98c2f0;
    

}
#user td, #user th {
    border: 1px solid #ddd;
    padding: 8px;

}

#user tr:nth-child(even){background-color: #f2f2f2;}

  #user tr:hover {background-color: #ddd;}
  .login{
      margin-bottom: 18px;
}

#reports {
    width: 100%;
    border-collapse: collapse;
    border-top: 17px;
    
}


#reports th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #98c2f0;
    

}
#reports td, #reports th {
    border: 1px solid #ddd;
    padding: 8px;

}

#reports tr:nth-child(even){background-color: #f2f2f2;}

  #reports tr:hover {background-color: #ddd;}
  .login{
      margin-bottom: 18px;
      
}


.cont{
    text-align: center;
    font-size: 20px;

    background-color: #ececec;
  border-radius: 10px;
    width: 600px;
    padding: 20px;
    
}

.botton{
    height:25% ;
    width: 80%;
    border-radius: 5px;
    border: none;
    font-size: var(--lg);
    background-color: #d8e7df;
    margin-top:20px ;
    cursor: pointer;
    margin-bottom: 15px;
}

.margin{
height: 40px;
width: 80%;
border: none;
border-radius: 3px;
margin:7px;
margin-left: 6px;

}
.pdiv{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.opciones-vender{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    justify-content: center;
    margin-bottom: 20px ;
    height: 8%;
    border-radius: 9px;

}
.botton1{
display: flex;
    text-align: center;
    margin: auto;
    border: none;
    width: 90%;
    height: 100%;
    border-radius: 9px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: var(--lg);
    color: #000000;
    background-color: #b5cbcb;
    border: 2px solid #616d6d ;
    
}

.a-table{
    overflow: hidden;
    border-radius: 17px 17px 0px 0px;
}
.v-ventas{
    
    border: 3px solid #78655c;
    display: flex;
    height: 5%;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 6px;
    background-color: #dfc2b5;
    padding-right: 2px;
}
.variable, .v{
    display: flex;
    justify-content: center;
    border-radius: 6px;
    text-align: center;
    border: 1px solid black;
    margin-right: 10px;
    height: 95%;
    align-items: center;
    text-decoration: none;
    justify-items: center;
    
}
.variable{
    background-color: #eea17d;
    width:120px ;
    font-size: var(--lg);
}
.v{
    background-color: #f5d768;
    width: 200px;
    text-align: center;  
    text-decoration: none;
  
}
.vender{
    background-color: #58f06d;
}
.borrar{
    background-color: #f45454;
    border-radius: 2px solid #632323 ;
}

.footer{
background-color: #6a768a;
display: flex;
color: #ddd;
width: 100%;
height: 80px;
align-items: center;

}
.func{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 6px;
    align-items: center;
    padding-left: 20px;
    border-radius: 6px;
    box-shadow: 8px 7px 10px 0px rgba(128, 128, 128, 0.457);


}
.bpr{
    height: 50px;
    width: auto;
    font-size: var(--lg);
    border: none;
    border-radius: 4px;
    color: #000000;
    text-decoration: none;
    margin-bottom: 30px;
    margin-top: 20px;
    padding: 6px;
    cursor:pointer;
    margin-left: 15px;
}
.bpr-ed{
    background-color: #8295ea;
}
.bpr-ac{
    background-color: #8feb9b;

}
.func-pers{
    background-color: #e1c66f;
    border: 5px solid #9a884e;
}
.func-pro{
    border: 5px solid #666278;
    background-color: #a7a0c5;
}
.func-cat{
    background-color: #c94fb6;    
    border: 5px solid #923a84;
}
.func-sale{
    border: 5px solid #403a92;
    background-color: #9886e5;    
}

.bloc-cat{
display: flex;
    border: 1px solid black ;
    margin: 50px;
    margin-top: 0;

}
.i{
width: 160px;
}
.cat{
    align-items: center;
    height: auto;
    display: grid;
    grid-template-columns: .5fr 1.5fr;
    border: 4px solid peru;
}
.item{
    height: max-content;
   
    grid-row-start: 1;
    grid-column-start: 2 ;
}
.sps{
    font-size: var(--xlg);
    color: white;
}
.co{
    font-size: var(--tlg);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 120px;

  text-decoration: none;
    color: rgb(255, 255, 255);   
}
.co:hover{
    border-bottom: 3px solid rgb(255, 255, 255);
    color: rgb(228, 227, 227);
}
.pasar{
text-decoration: none ;
font-size: var(--tlg);
margin-left: 10px;

color: #a79090;
}
.as, .ad{
    text-decoration: none;
    width: 20px;
    border: none;
    background-color: inherit;
    cursor: pointer;
    margin-right:10px ;
}
.acciones{
    justify-content: center;
display: flex;
align-items: center;
}
