{% extends 'base.html' %}

{% block title %}
    Marcas
{% endblock %}

{% block content %}

{% include 'search.html'%}
<nav class="titulo">

    
    <h1>
        <a href="{{ url_for('home.cerrar') }}" class="bpr bpr-ed"> Regresar</a> 
        Marcas</h1></nav>

    <a href="{{ url_for('brand.create_bra')}}">
        <input type="button" value="Añadir Nueva Marca " class="bpr bpr-ac">
    </a>
    <nav class="a-table">


        <table id="sale">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Unidades Totales</th>

                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for bra in brand %}
                <tr>
                    <td>{{ bra.id_marca }}</td>
                    <td>{{ bra.nombre }}</td>
                    <td>{{ bra.unidades_totales }}</td>
                    <td class="acciones">
                        <a href="{{ url_for('brand.editar_bra', id_marca=bra.id_marca) }}">
                            <img src="{{ url_for('static', filename='resource/actualizar.png') }}" alt="actualizar" class="as">
                        </a> 
                        <form method="post" action="{{ url_for('brand.eliminar_bra', id_marca=bra.id_marca) }}">
                            <button type="submit"
                                    onclick="return confirm('seguro')"  class="ad">
                                    <img src="{{ url_for('static', filename='resource/eliminar.png') }}" alt="borrar" class="ad">
                                </button>
                        </form>
                    </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% for i in range(pages) %}
    <a href="{{ url_for('brand.brands', page=(i + 1)) }}" class="pasar">{{ i + 1 }}</a>
    {% endfor %}

</nav>
{% endblock %}